.main__box .box__head h4 
{
  text-align: center;
}

.box__head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#background #fill, 
.box__head > #background {
  height: 10px;
  margin: 0px;
  padding: 0px;
  border-radius: 2rem;
}

.box__head > #background {
  width: 90%;
  background-color: grey;
  position: relative;
}

#background #fill {
  width: 0%;
  position: absolute;
  background-color: orange;
  top:0;
  left: 0;
}

.box__head div.head__descrip#descrip,
.box__head div.head__descrip {
  display: flex;
  justify-content: center;
  height: 20px;
  font-size: 1.5rem;
}
.box__wind {
  font-size: 1.5rem;
}
.box__visibility, 
.box__humedad,
.box__preasure {
  margin: 0px 10px;

}
.main__week div .day__temp {
  background-color: transparent;
  width: 100%;
  height: 20px;
}
.day__img {
  margin: 0px auto;
  display: flex;
  width: 80%;
  height: 50%;
}

.week__day{
  margin: 10px auto;
  text-align: center;
  font-size: .8rem;
}

.spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px dashed rgb(236, 214, 15);
  animation: spin-rotate 2s infinite linear;
  border-left-width: 10px;
  border-left-style: groove;
  border-left-color: rgb(236, 214, 15);
  border-block-color: transparent;
  /* border-right: groove; */
  border-right-style: groove;
  border-right-width: 10px;
  border-right-color: rgb(236, 214, 15);
}
.preloader {
  /* position: absolute; */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 27, 58);
  transition-property: height, overflow, max-height;
  transition-duration:.5s;
}

.hidden {
  max-height: 0;
  overflow: hidden;
  animation: none;
}

@keyframes spin-rotate {
  from {
    transform: initial;
  }to {
    transform: rotate(360deg);
  }
}